﻿    <h1>Add ITCraft complaint:</h1>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Your name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="complaint.Name" id="name" placeholder="Enter your name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="msg">Message:</label>
            <div class="col-sm-10">
                <textarea class="form-control" ng-model="complaint.Message" rows="3" placeholder="What is your complaint???" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="addComplaint(complaint)">Submit</button>
            </div>
        </div>
    </form>