﻿    <h1>Welcome to ITCraft Chat:</h1>
    <div class="col-sm-8" ng-show="chatStarted">
        <label class="control-label col-sm-10" for="pwd" >Chat - Count of active users: {{usersCount}}</label>
        <div class="col-sm-10">
            <ul class="list-group chat-item">
                <li class="list-group-item" ng-repeat="chatMessage in messages">{{chatMessage.time}} <strong>{{chatMessage.username}}: </strong>{{chatMessage.message}}</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <form class="form-horizontal">
            <div ng-if="!chatStarted">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="username">Username:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-disabled="chatStarted" ng-model="chatMessage.username" id="name" placeholder="Enter your name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <button type="button"  class="btn btn-default" ng-click="startChat()">Start Chat</button>
                    </div>
                </div>
            </div>
            <div ng-if="chatStarted">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd">Message:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="chatMessage.message" rows="3" placeholder="Message" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-default" ng-click="newMessage()">Send:</button>
                    </div>
                </div>
            </div>
        </form>
    </div> 