﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.chat-item{
    max-height: 600px;
    overflow-y:auto; 
}

.contentload {
    min-height:200px;
    text-align: center;
    line-height: 200px; 
    font-size: 38px;
}
