﻿<div >
    <h1>Load Content:</h1>
    <button type="button" class="btn btn-default" ng-click="loadAjaxData()">Load By Ajax</button>
    <button type="button" class="btn btn-default" ng-click="loadSignalRData()">Load by SignalR</button>
    <div>
        <div class="col-sm-4 contentload" ng-if="isloaded1" style="background-color:yellow;">
            <p>Section 1</p>
        </div>
        <div class="col-sm-4 contentload" ng-if="isloaded2"  style="background-color:pink;">
            <p>Section 2</p>
        </div>
        <div class="col-sm-4 contentload" ng-if="isloaded3"  style="background-color:seagreen;">
            <p>Section 3</p>
        </div>
    </div>
    <div>
        <div class="col-sm-4 contentload" ng-if="isloaded4"  style="background-color: aqua;">
            <p>Section 4</p>
        </div>
        <div class="col-sm-4 contentload" ng-if="isloaded5"  style="background-color:peru;">
            <p>Section 5</p>
        </div>
        <div class="col-sm-4 contentload" ng-if="isloaded6"  style="background-color:cornflowerblue;">
            <p>Section 6</p>
        </div>
    </div>
    <div>
        <div class="col-sm-4 contentload" ng-if="isloaded7"  style="background-color:yellow;">
            <p>Section 7</p>
        </div>
        <div class="col-sm-4 contentload" ng-if="isloaded8"  style="background-color:pink;">
            <p>Section 8</p>
        </div>
        <div class="col-sm-4 contentload" ng-if="isloaded9"  style="background-color:seagreen;">
            <p>Section 9</p>
        </div>
    </div>
</div>